<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{components/head :: title}"></th:block>
    <th:block th:replace="~{components/head :: plugin}"></th:block>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
        /* main {
            height: 100dvh;
        } */

        .bg-body-tertiary {
            background-color: #f8f9fa;
        }

        .text-body-emphasis {
            color: #212529;
        }

        .text-body-secondary {
            color: #6c757d;
        }

        .text-main-title {
            color: var(--main-title-color);
        }

        .bg-form {
            background-color: #fff;
        }
    </style>
</head>

<body>
    <main class="d-flex vh-100 align-items-center bg-body-tertiary">
        <section class="h-100 col-md-10 mx-auto py-4 col-lg-5">
            <form class="p-4 p-md-5 border rounded-5 bg-form" id="login" th:action="@{/user/login}" method="post"
                autocomplete="off">
                <div class="d-flex mb-4">
                    <img th:src="@{/images/h.png}" height="28" alt="Hello, World">
                    <h2 class="fw-bold lh-1 text-main-title ms-3 mb-0">Hello, World!</h2>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="account" id="account" placeholder="Account">
                    <label for="email">Account Name</label>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="repeat-password" id="repeat-password"
                        placeholder="Password">
                    <label for="password">Repeat your
                        password</label>
                </div>
                <div class="form-check d-flex mt-4">
                    <input class="form-check-input me-2" type="checkbox" id="terms-agree" />
                    <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                </div>
                <p class="d-none mb-0" id="terms-agree-warning" style="color: #dc3545">please check the terms of service</p>
                <button class="w-100 mt-2 btn btn-lg btn-primary" type="submit">Register</button>
                <hr class="mt-4">
                <div>
                    <button class="btn btn-outline-primary btn-sm" type="button" id="test">Test</button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" id="reset">Reset</button>
                </div>
            </form>
        </section>
    </main>
    <script>
        const test = {
            account: "test",
            email: "test@gmail.com",
            password: "Passw0rd!",
        }
        document.querySelector('#test').addEventListener('click', function () {
            document.querySelector('#account').value = test.account;
            document.querySelector('#email').value = test.email;
            document.querySelector('#password').value = test.password;
            document.querySelector('#repeat-password').value = test.password;
        });
        document.querySelector('#reset').addEventListener('click', function () {
            document.querySelector('#account').value = "";
            document.querySelector('#email').value = "";
            document.querySelector('#password').value = "";
            document.querySelector('#repeat-password').value = "";
        });
        // when user click submit button but don't check the terms-agree checkbox then prevent submit and show the red waring to ask user to check the checkbox
        document.querySelector('#login').addEventListener('submit', function (e) {
            if (!document.querySelector('#terms-agree').checked) {
                e.preventDefault();
                document.querySelector('#terms-agree').classList.add('is-invalid');
                document.querySelector('#terms-agree-warning').classList.remove('d-none');
            }
        });
        document.querySelector('#terms-agree').addEventListener('change', function () {
            if (this.checked) {
                document.querySelector('#terms-agree').classList.remove('is-invalid');
                document.querySelector('#terms-agree-warning').classList.add('d-none');
            }
        });
    </script>
</body>

</html>