<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{components/head :: title}"></th:block>
    <th:block th:replace="~{components/head :: plugin}"></th:block>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
        .bg-body-tertiary {
            background-color: #f8f9fa;
        }

        .text-main-title {
            color: var(--main-title-color);
        }

        .bg-form {
            background-color: #fff;
        }

        #email-verify-box ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body class="bg-body-tertiary">
    <main class="v-100 d-flex align-items-center">
        <section class="col-md-10 mx-auto mt-4 col-lg-5" id="main-register-form">
            <form class="p-4 p-md-5 border rounded-5 bg-form" id="register-form" autocomplete="off">
                <div class="d-flex mb-4">
                    <img th:src="@{/images/h.png}" height="28" alt="Hello, World">
                    <h2 class="fw-bold lh-1 text-main-title ms-3 mb-0">Hello, World!</h2>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="account" placeholder="Account">
                    <label for="email">Account Name</label>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="confirm-password" placeholder="Password">
                    <label for="confirmPassword">Repeat your
                        password</label>
                </div>
                <div class="form-check d-flex mt-4">
                    <input class="form-check-input me-2" type="checkbox" id="terms-agree" />
                    <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                </div>
                <p class="d-none mb-0" id="terms-agree-warning" style="color: #dc3545">please check the terms of service
                </p>
                <button class="w-100 mt-2 btn btn-lg btn-primary" type="button" id="register-submit">Register</button>
                <hr class="mt-4">
                <div>
                    <button class="btn btn-outline-primary btn-sm" type="button" id="kent">Kent</button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" id="reset">Reset</button>
                </div>
            </form>
        </section>
        <section class="d-none col-md-10 mx-auto mt-4 col-lg-6" id="email-verify-box">
            <div class="p-4 p-md-5 border rounded-5 bg-form">
                <h2 class="text-center" id="verify-email-title">信箱認證信已寄至</h2>
                <p class="text-center fs-3" id="verify-email"></p>
                <p>請在收到認證信的 24 小時內，點擊信中連結，以繼續完成註冊手續。</p>
                <ul class="text-body-secondary">
                    <li><small>信件寄達時間依郵件伺服器而不同。</small></li>
                    <li><small>若您一直未收到認證信，可能是系統擋信或被丟至垃圾信匣，請參考<a href="#"> Email 常見問題</a>。</small></li>
                </ul>
            </div>
        </section>
    </main>
    <script>
        const kent = {
            account: "Kent",
            email: "kent.ispan.java@gmail.com",
            password: "Passw0rd!",
        }
        document.querySelector('#kent').addEventListener('click', function () {
            document.querySelector('#account').value = kent.account;
            document.querySelector('#email').value = kent.email;
            document.querySelector('#password').value = kent.password;
            document.querySelector('#confirm-password').value = kent.password;
        });
        document.querySelector('#reset').addEventListener('click', function () {
            document.querySelector('#account').value = "";
            document.querySelector('#email').value = "";
            document.querySelector('#password').value = "";
            document.querySelector('#confirm-password').value = "";
        });
        document.querySelector('#register-submit').addEventListener('click', function (e) {
            if (!document.querySelector('#terms-agree').checked) {
                e.preventDefault();
                document.querySelector('#terms-agree').classList.add('is-invalid');
                document.querySelector('#terms-agree-warning').classList.remove('d-none');
            } else {
                axios.post('/user/register', {
                    account: document.querySelector('#account').value,
                    email: document.querySelector('#email').value,
                    password: document.querySelector('#password').value,
                    confirmPassword: document.querySelector('#confirm-password').value,
                }).then(function (response) {
                    console.log(response.data);
                    document.querySelector('#main-register-form').classList.add('d-none');
                    document.querySelector('#email-verify-box').classList.remove('d-none');
                    document.querySelector('#verify-email').innerText = response.data.email;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        });
        document.querySelector('#terms-agree').addEventListener('change', function () {
            if (this.checked) {
                document.querySelector('#terms-agree').classList.remove('is-invalid');
                document.querySelector('#terms-agree-warning').classList.add('d-none');
            }
        });
    </script>
</body>

</html>