<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
    <!-- <head th:replace="~{components/head :: head}"> -->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <th:block th:replace="~{components/head :: title}"></th:block>
        <th:block th:replace="~{components/head :: plugin}"></th:block>
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <style>
            .title-color {
                color: var(--main-title-color)
            }
        </style>
    </head>
    <body>
        <h1 class="text-center mt-5 title-color">Hello, World!</h1>
    </body>
</html>
